.taskbox{
    display: flex;
    flex-direction: column;
}
.task_img{
    display: block;
    width:50%;
   
}

.task{
    display: flex;
    width: 60%;
    margin: 0 auto; 
    justify-content: space-around;
    margin: 10px;
    align-items:flex-start;
}
.answer_btn{
    display: block;
    padding: 20px;
    text-decoration: none;
    margin: 20px auto;
    background-color: rgb(126, 126, 126);
    color: #000;
    font-weight: bold;
    border-radius: 5px;

}
