*{
    margin: 0;
}

div{background-color: grey;}
.clas_div1{background-color: pink;}
#menu{background-color: white;}
#content{
    padding: 20px;
    border: 1px solid transparent;
}

.questions_block{
    background-color: white;
    padding: 20px;
    width: 70%;
    margin:  40px auto;
    border-radius: 20px;
}

.question{
    font-family: cursive;
    font-weight: bold;
}